<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SalonMate | Salon Booking App</title>
  <link rel="stylesheet" href="/css/login-style.css">
</head>
  <body>
    <div class="wrapper">
      <div th:if="${param.error}">
        <p style="color:red;"> Username already exists.</p>
      </div>
      <form th:action="@{/signup}" method="post">
        
        <h2>Sign Up</h2>

        <div class="input-field">
            <input type="text" id="username" name="username" required>
            <label for="username">Enter your Username</label>
        </div>
        
        <div class="input-field">
          <input type="email" id="email" name="email" required>
          <label for="email">Enter your Email</label>
        </div>

        <div class="input-field">
          <input type="password" id="password" name="password" required>
          <label for="password">Enter your Password</label>
        </div>
        <div class="input-field">
          <input type="password" required>
          <label>Confirm Password</label>
        </div>
        <br>
        <button type="submit">Sign Up</button>
        <div class="register">
          <a th:href="@{/login}"> Old User ? Click here to Login</a>
        </div>
      </form>
    </div>
  </body>
</html>